<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plan your Journey</title>

    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--Custom Styling-->
    <link rel="stylesheet" href="/buyTicketStyles.css">
    <link rel="stylesheet" href="/mainStyles.css">
    <link rel="stylesheet" href="/headerStyles.css">

    <!--FontAwesome-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">


</head>
<body>
<%- include('partials/header') %>


<div class="submit-container">

    <div class="container table-container">
        <h1 class="text-center">Wybrane połączenie:</h1>
        <div class="row border-bottom border-top pb-2 pt-1 d-flex align-items-center">
            <div class="col-6 fw-bold d-flex justify-content-center align-items-center">Skąd</div>
            <div class="col-6 d-flex justify-content-center align-items-center truncate-text" id="wherefrom"><%= ticket.wherefrom %></div>
        </div>
        <div class="row border-bottom pb-2 pt-1 d-flex align-items-center">
            <div class="col-6 fw-bold d-flex justify-content-center align-items-center">Dokąd</div>
            <div class="col-6 d-flex justify-content-center align-items-center truncate-text" id="whereto"><%= ticket.whereto %></div>
        </div>
        <div class="row border-bottom pb-2 pt-1 d-flex align-items-center">
            <div class="col-6 fw-bold d-flex justify-content-center align-items-center">Odjazd</div>
            <div class="col-6 d-flex justify-content-center align-items-center" id="from"><%= ticket.from %></div>
        </div>
        <div class="row border-bottom pb-2 pt-1 d-flex align-items-center">
            <div class="col-6 fw-bold d-flex justify-content-center align-items-center">Przyjazd</div>
            <div class="col-6 d-flex justify-content-center align-items-center" id="to"><%= ticket.to %></div>
        </div>
        <div class="row border-bottom pb-2 pt-1 d-flex align-items-center">
            <div class="col-6 fw-bold d-flex justify-content-center align-items-center">Czas Podróży</div>
            <div class="col-6 d-flex justify-content-center align-items-center" id="duration"><%= ticket.duration %></div>
        </div>
        <div class="row border-bottom pb-2 pt-1 d-flex align-items-center">
            <div class="col-6 fw-bold d-flex justify-content-center align-items-center">Liczba Przesiadek</div>
            <div class="col-6 d-flex justify-content-center align-items-center" id="connections"><%= ticket.connections %></div>
        </div>
        <div class="row border-bottom pb-2 pt-1 d-flex align-items-center">
            <div class="col-6 fw-bold d-flex justify-content-center align-items-center">Cena</div>
            <div class="col-6 d-flex justify-content-center align-items-center" id="price" data-price="<%= ticket.price %>"><%= ticket.price %> zł</div>
        </div>
    </div>



    <div class="choice-container text-center">
        <div class="container my-4" id="discountChooser">
            <label for="discount" class="form-label">Wybierz ulgę</label>
            <select id="discount" class="form-select form-select-lg">
                <option value="brak" selected>Brak ulgi</option>
                <option value="student">Ulga studencka (51%)</option>
                <option value="school">Ulga szkolna (37%)</option>
                <option value="senior">Ulga dla seniorów (30%)</option>
                <option value="disabled">Ulga dla osób niepełnosprawnych (78%)</option>
            </select>
        </div>

        <div class="container my-4" id="seatChooser">
            <label for="seat" class="form-label">Wybierz miejsce</label>
            <select id="seat" class="form-select form-select-lg">
                <option value="dowolny" selected>Dowolne miejsce</option>
                <option value="schemat">Wybierz ze schematu</option>
                <option value="bezprzedzialowy">Wagon bezprzedziałowy</option>
                <option value="przedzialy">Wagon z przedziałami</option>
                <option value="wozek">Miejsce dla osoby na wózku</option>
                <option value="rower">Miejsce dla podróżującego z rowerem</option>
                <option value="wybrane">Wpisz numer ręcznie</option>
            </select>
        </div>
    </div>


    <div class="container my-4 text-center">
        <h4 id="selectedSeatDisplay"></h4>
    </div>

    <div id="classchoice">
        <button type="button" class="btn btn-primary btn-lg" id="class2Btn">
            Klasa 2
        </button>
        <button type="button" class="btn btn-primary btn-lg" id="class1Btn">
            <i class="fa-solid fa-crown" style="color: #FFD43B;"></i>
            Klasa 1
            <i class="fa-solid fa-crown" style="color: #FFD43B;"></i>
        </button>
    </div>

    <div class="toggle-container my-4">
        <label class="toggle-switch">
            <input type="checkbox" id="showDetailsToggle">
            <span class="slider"></span>
        </label>
        <span class="ms-3">Pokaż szczegóły połączenia</span>
    </div>

    <div class="details-container mt-3" id="detailsSection" style="display: none;">
        <img src="/images/szczegolyPolaczenia.png" alt="szczegóły połączenia" class="me-2" style="width: 300px; height: auto; border-radius: 45px;">
    </div>

    <div class="container my-4 text-center" id="finalPrice">
        <h4>Kwota do zapłaty: <span id="totalPrice"></span> zł</h4>
    </div>

    <div class="container my-4">
        <button class="btn btn-success btn-lg" id="summaryBtn"><b>Podsumowanie</b></button>
    </div>
</div>


<div class="modal fade" id="chooseSeatModal" tabindex="-1" aria-labelledby="chooseSeatModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="chooseSeatModalLabel">Wybierz miejsce</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="seatSelectionForm">
                    <div class="mb-3">
                        <label for="wagonNumber" class="form-label">Numer wagonu</label>
                        <input type="number" class="form-control" id="wagonNumber" min="1" max="20" required>
                    </div>
                    <div class="mb-3">
                        <label for="seatNumber" class="form-label">Numer miejsca</label>
                        <input type="number" class="form-control" id="seatNumber" min="1" max="100" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                <!-- Usunięcie form submit w przycisku. Tylko dla modala -->
                <button id="btnConfirm" type="button" class="btn btn-primary">Zatwierdź</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Sukcesu -->
<div class="modal fade" id="seat-success" tabindex="-1" aria-labelledby="seatSuccessModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title" id="seatSuccessModalLabel">Sukces!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Miejsce zarezerwowane pomyślnie!
            </div>
        </div>
    </div>
</div>

<!-- Modal Błędu -->
<div class="modal fade" id="seat-failure" tabindex="-1" aria-labelledby="seatFailureModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="seatFailureModalLabel">Błąd!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Wybrane miejsce nie jest dostępne!
            </div>
        </div>
    </div>
</div>


<%- include('partials/footer') %>
<!--Bootstrap JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/scripts/toggleDetails.js"></script>
<script src="/scripts/chosenSeat.js"></script>
<script src="/scripts/priceClass.js"></script>
<script src="/scripts/getSummary.js"></script>


</body>
</html>