<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plan your Journey</title>

    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--Custom Styling-->
    <link rel="stylesheet" href="trainRoutesStyles.css">
    <link rel="stylesheet" href="/mainStyles.css">
    <link rel="stylesheet" href="/headerStyles.css">
    <!--FontAwesome-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>
<body>
<%- include('partials/header') %>

<div class="container table-container">
    <table class="table table-borderless text-center">
        <thead>
        <tr>
            <th></th>
            <th><%= connection.from %></th>
            <th><%= connection.to %></th>
            <th>Czas Podróży</th>
            <th>Liczba Przesiadek</th>
            <th>Cena</th>
        </tr>
        </thead>
        <tbody>
        <!-- Wiersz 1 -->
        <tr>
            <td>
                <a href="/buyTicket?from=08:00&to=09:30&duration=1h%2030m&connections=0&price=35&wherefrom=<%= connection.from %>&whereto=<%= connection.to %>" class="btn btn-buy">
                    KUP BILET
                    <i class="fas fa-hand-pointer icon-pointer"></i>
                </a>
            </td>
            <td>08:00</td>
            <td>09:30</td>
            <td>1h 30m</td>
            <td>0</td>
            <td>35.00 zł</td>
        </tr>
        <!-- Wiersz 2 -->
        <tr>
            <td>
                <a href="/buyTicket?from=10:00&to=11:45&duration=1h%2045m&connections=1&price=40&wherefrom=<%= connection.from %>&whereto=<%= connection.to %>" class="btn btn-buy">
                    KUP BILET
                    <i class="fas fa-hand-pointer icon-pointer"></i>
                </a>
            </td>
            <td>10:00</td>
            <td>11:45</td>
            <td>1h 45m</td>
            <td>1</td>
            <td>40.00 zł</td>
        </tr>
        <!-- Wiersz 3 -->
        <tr>
            <td>
                <a href="/buyTicket?from=12:00&to=13.30&duration=1h%2030m&connections=0&price=35&wherefrom=<%= connection.from %>&whereto=<%= connection.to %>" class="btn btn-buy">
                    KUP BILET
                    <i class="fas fa-hand-pointer icon-pointer"></i>
                </a>
            </td>
            <td>12:00</td>
            <td>13:30</td>
            <td>1h 30m</td>
            <td>0</td>
            <td>35.00 zł</td>
        </tr>
        </tbody>
    </table>
</div>

<%- include('partials/footer') %>
<!--Bootstrap JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>