<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planuj Podróż</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- Custom Styling -->
    <link rel="stylesheet" href="trainRoutesStyles.css">
    <link rel="stylesheet" href="/mainStyles.css">
    <link rel="stylesheet" href="/headerStyles.css">
    <!-- FontAwesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body class="bg-light">
<%- include('partials/header') %>

<div class="container my-5">
    <h1 class="text-center mb-4">Planuj Podróż</h1>
    <div class="table-responsive">
        <table class="table table-striped table-hover text-center align-middle">
            <thead class="table-dark">
            <tr>
                <th>Akcja</th>
                <th>Odjazd</th>
                <th>Przyjazd</th>
                <th class="hide-mobile">Czas Trwania</th>
                <th class="hide-mobile">Przesiadki</th>
                <th class="hide-mobile">Cena</th>
            </tr>
            </thead>
            <tbody>
            <!-- Train 1 -->
            <tr>
                <td>
                    <div class="d-flex flex-column">
                        <a href="/buyTicket?from=08:00&to=09:30&duration=1h%2030m&connections=0&price=35&wherefrom=<%= connection.from %>&whereto=<%= connection.to %>" class="btn btn-primary btn-sm mb-2">
                            Kup Bilet
                            <i class="fas fa-ticket-alt"></i>
                        </a>
                        <button class="btn btn-secondary btn-sm"
                                data-bs-toggle="modal"
                                data-bs-target="#trainDetailsModal"
                                onclick="updateTrainModal('Przemyślanin', '15123', 'Przemyśl Główny', 'Świnoujście', '250km')">
                            Szczegóły Pociągu
                        </button>
                        <button class="btn btn-info btn-sm"
                                data-bs-toggle="modal"
                                data-bs-target="#courseDetailsModal"
                                onclick="updateCourseModal('<%= connection.from %>', '<%= connection.to %>', '08:00', '09:30', '1h 30m', '0', '35.00 zł')">
                            Szczegóły kursu
                        </button>
                    </div>
                </td>
                <td>08:00</td>
                <td>09:30</td>
                <td class="hide-mobile">1h 30m</td>
                <td class="hide-mobile">0</td>
                <td class="hide-mobile">35.00 zł</td>
            </tr>
            <!-- Train 2 -->
            <tr>
                <td>
                    <div class="d-flex flex-column">
                        <a href="/buyTicket?from=10:00&to=11:45&duration=1h%2045m&connections=1&price=40&wherefrom=<%= connection.from %>&whereto=<%= connection.to %>" class="btn btn-primary btn-sm mb-2">
                            Kup Bilet
                            <i class="fas fa-ticket-alt"></i>
                        </a>
                        <button class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#trainDetailsModal" onclick="updateTrainModal('Osterwa', '84712', 'Szczecin Główny', 'Zakopane', '300km')">
                            Szczegóły Pociągu
                        </button>
                        <button class="btn btn-info btn-sm"
                                data-bs-toggle="modal"
                                data-bs-target="#courseDetailsModal"
                                onclick="updateCourseModal('<%= connection.from %>', '<%= connection.to %>', '10:00', '11:45', '1h 45m', '1', '40.00 zł')">
                            Szczegóły kursu
                        </button>
                    </div>
                </td>
                <td>10:00</td>
                <td>11:45</td>
                <td class="hide-mobile">1h 45m</td>
                <td class="hide-mobile">1</td>
                <td class="hide-mobile">40.00 zł</td>
            </tr>
            <!-- Train 3 -->
            <tr>
                <td>
                    <div class="d-flex flex-column">
                        <a href="/buyTicket?from=12:00&to=13:30&duration=1h%2030m&connections=0&price=35&wherefrom=<%= connection.from %>&whereto=<%= connection.to %>" class="btn btn-primary btn-sm mb-2">
                            Kup Bilet
                            <i class="fas fa-ticket-alt"></i>
                        </a>
                        <button class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#trainDetailsModal" onclick="updateTrainModal('Pociąg C', '003', 'Warszawa Centralna', 'Gdynia Główna', '200km')">
                            Szczegóły Pociągu
                        </button>
                        <button class="btn btn-info btn-sm"
                                data-bs-toggle="modal"
                                data-bs-target="#courseDetailsModal"
                                onclick="updateCourseModal('<%= connection.from %>', '<%= connection.to %>', '12:00', '13:30', '1h 30m', '0', '35.00 zł')">
                            Szczegóły kursu
                        </button>
                    </div>
                </td>
                <td>12:00</td>
                <td>13:30</td>
                <td class="hide-mobile">1h 30m</td>
                <td class="hide-mobile">0</td>
                <td class="hide-mobile">35.00 zł</td>
            </tr>
            <!-- Train 4 -->
            <tr>
                <td>
                    <div class="d-flex flex-column">
                        <a href="/buyTicket?from=14:00&to=15:45&duration=1h%2045m&connections=2&price=50&wherefrom=<%= connection.from %>&whereto=<%= connection.to %>" class="btn btn-primary btn-sm mb-2">
                            Kup Bilet
                            <i class="fas fa-ticket-alt"></i>
                        </a>
                        <button class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#trainDetailsModal" onclick="updateTrainModal('Pociąg D', '004', 'Poznań Główny', 'Kraków Główny', '350km')">
                            Szczegóły Pociągu
                        </button>
                        <button class="btn btn-info btn-sm"
                                data-bs-toggle="modal"
                                data-bs-target="#courseDetailsModal"
                                onclick="updateCourseModal('<%= connection.from %>', '<%= connection.to %>', '14:00', '15:45', '1h 45m', '2', '50.00 zł')">
                            Szczegóły kursu
                        </button>
                    </div>
                </td>
                <td>14:00</td>
                <td>15:45</td>
                <td class="hide-mobile">1h 45m</td>
                <td class="hide-mobile">2</td>
                <td class="hide-mobile">50.00 zł</td>
            </tr>
            <!-- Train 5 -->
            <tr>
                <td>
                    <div class="d-flex flex-column">
                        <a href="/buyTicket?from=16:00&to=17:30&duration=1h%2030m&connections=0&price=35&wherefrom=<%= connection.from %>&whereto=<%= connection.to %>" class="btn btn-primary btn-sm mb-2">
                            Kup Bilet
                            <i class="fas fa-ticket-alt"></i>
                        </a>
                        <button class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#trainDetailsModal" onclick="updateTrainModal('Pociąg E', '005', 'Gdańsk Główny', 'Katowice', '400km')">
                            Szczegóły Pociągu
                        </button>
                        <button class="btn btn-info btn-sm"
                                data-bs-toggle="modal"
                                data-bs-target="#courseDetailsModal"
                                onclick="updateCourseModal('<%= connection.from %>', '<%= connection.to %>', '16:00', '17:30', '1h 30m', '0', '35.00 zł')">
                            Szczegóły kursu
                        </button>
                    </div>
                </td>
                <td>16:00</td>
                <td>17:30</td>
                <td class="hide-mobile">1h 30m</td>
                <td class="hide-mobile">0</td>
                <td class="hide-mobile">35.00 zł</td>
            </tr>
            <!-- Train 6 -->
            <tr>
                <td>
                    <div class="d-flex flex-column">
                        <a href="/buyTicket?from=18:00&to=19:45&duration=1h%2045m&connections=1&price=45&wherefrom=<%= connection.from %>&whereto=<%= connection.to %>" class="btn btn-primary btn-sm mb-2">
                            Kup Bilet
                            <i class="fas fa-ticket-alt"></i>
                        </a>
                        <button class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#trainDetailsModal" onclick="updateTrainModal('Pociąg F', '006', 'Łódź Fabryczna', 'Wrocław Główny', '300km')">
                            Szczegóły Pociągu
                        </button>
                        <button class="btn btn-info btn-sm"
                                data-bs-toggle="modal"
                                data-bs-target="#courseDetailsModal"
                                onclick="updateCourseModal('<%= connection.from %>', '<%= connection.to %>', '18:00', '19:45', '1h 45m', '1', '45.00 zł')">
                            Szczegóły kursu
                        </button>
                    </div>
                </td>
                <td>18:00</td>
                <td>19:45</td>
                <td class="hide-mobile">1h 45m</td>
                <td class="hide-mobile">1</td>
                <td class="hide-mobile">45.00 zł</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal dla szczegółów pociągu -->
<div class="modal fade" id="trainDetailsModal" tabindex="-1" aria-labelledby="trainDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="trainDetailsModalLabel">Szczegóły Pociągu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zamknij"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item" id="trainName"></li>
                    <li class="list-group-item" id="trainNumber"></li>
                    <li class="list-group-item" id="trainFrom"></li>
                    <li class="list-group-item" id="trainTo"></li>
                    <li class="list-group-item" id="distanceFromTheStart"></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>

<!--Modal dla szczegółów kursu-->
<div class="modal fade" id="courseDetailsModal" tabindex="-1" aria-labelledby="courseDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="courseDetailsModalLabel">Szczegóły Kursu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zamknij"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item" id="startStation"></li>
                    <li class="list-group-item" id="destStation"></li>
                    <li class="list-group-item" id="startTime"></li>
                    <li class="list-group-item" id="destTime"></li>
                    <li class="list-group-item" id="duration"></li>
                    <li class="list-group-item" id="numOfConnections"></li>
                    <li class="list-group-item" id="basePrice"></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function updateTrainModal(name, number, from, to, distanceFromTheStart) {
        document.getElementById('trainName').innerHTML = `<b>Nazwa pociągu:</b> ${name}` || "Brak danych";
        document.getElementById('trainNumber').innerHTML = `<b>Numer pociągu:</b> ${number}` || "Brak danych";
        document.getElementById('trainFrom').innerHTML = `<b>Stacja początkowa:</b> ${from}` || "Brak danych";
        document.getElementById('trainTo').innerHTML = `<b>Stacja końcowa:</b> ${to}` || "Brak danych";
        document.getElementById('distanceFromTheStart').innerHTML = `<b>Odległość od stacji początkowej:</b> ${distanceFromTheStart}` || "Brak danych";
    }

    function updateCourseModal(from, to, startTime, destTime, duration, connections, price) {
        document.getElementById('startStation').innerHTML =
            `<b>Stacja początkowa:</b> ${from || "Brak danych"}`;
        document.getElementById('destStation').innerHTML =
            `<b>Stacja końcowa:</b> ${to || "Brak danych"}`;
        document.getElementById('startTime').innerHTML =
            `<b>Godzina wyjazdu:</b> ${startTime || "Brak danych"}`;
        document.getElementById('destTime').innerHTML =
            `<b>Godzina przyjazdu:</b> ${destTime || "Brak danych"}`;
        document.getElementById('duration').innerHTML =
            `<b>Czas trwania:</b> ${duration || "Brak danych"}`;
        document.getElementById('numOfConnections').innerHTML =
            `<b>Liczba przesiadek:</b> ${connections || "Brak danych"}`;
        document.getElementById('basePrice').innerHTML =
            `<b>Cena podstawowa:</b> ${price || "Brak danych"}`;
    }

</script>

<script src="scripts/getSummary.js"></script>
</body>
</html>